.projects-section-content{
    padding-top: 100px;
    width: 90%;
    margin: auto;
    max-width: 80rem;
}

.projects-header::after{
    content: "";
    background-color: rgb(214,76,29);
    position: absolute;
    width: 5rem;
    height: 5px;
    translate: 0 1250%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.projects-header {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 3.5rem;
}